<footer>
  <nav class="footer-nav">
    <ul>
      <li><a href="/" title="Go to Home page">Home</a></li>
      <li><a href="/inv/classification/1" title="Browse Inventory">Inventory</a></li>
      <li><a href="/inv/error" title="Trigger a 500 error for testing">Error Test</a></li>
    </ul>
  </nav>

  <p>&copy; <%= new Date().getFullYear() %> Motors. All rights reserved.</p>
</footer>
